<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "VotaSanremo" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-white antialiased">
    <aside
      class="z-10 absolute right-0 bg-zinc-700 sm:w-96 w-72 h-full hidden"
      phx-click-away={hide_drawer("aside")}
    >
      <div class="w-full">
        <button class="p-4" type="button" title="hide menu" phx-click={hide_drawer("aside")}>
          <.icon class="text-white" name="hero-x-mark" />
        </button>

        <nav class="flex flex-col">
          <%= if @current_user do %>
            <.sidenav_link path={~p"/vote"} text="Vote" />
          <% end %>
          <.sidenav_link path={~p"/leaderboard"} text="Leaderboard" />
          <%= if @current_user do %>
            <.sidenav_link path={~p"/search/users"} text="Search users" />
            <.sidenav_link path={~p"/users/settings"} text="Settings" />
            <.sidenav_link path={~p"/users/log_out"} text="Log out" method="delete" />
          <% else %>
            <.sidenav_link path={~p"/users/register"} text="Register" />
            <.sidenav_link path={~p"/users/log_in"} text="Log in" />
          <% end %>
        </nav>
      </div>
    </aside>

    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
        <!-- Items left -->
        <div class="flex items-center gap-4">
          <.link navigate="/" class="font-bold text-xl">
            VotaSanremo
          </.link>
        </div>
        <!-- Items right -->
        <div class="flex items-center">
          <button type="button" title="show menu" phx-click={show_drawer("aside", "flex")}>
            <.icon name="hero-bars-3" />
          </button>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
