<.header>{gettext("Manage users")}</.header>

<div class="mt-3 flex gap-2">
    <.info_data_badge label={gettext("Number of registered users")} value_id="users-number">
        {@users_number}
    </.info_data_badge>
    <.info_data_badge label={gettext("Number of confirmed users")} value_id="confirmed-users-number">
        {@confirmed_users_number}
    </.info_data_badge>
</div>
