<div>
  <h1 class="text-3xl"><%= @user.username %></h1>
  
  <section class="mt-5">
    <h2 class="text-xl font-bold">Votes</h2>
    
    <%= if @user.votes_privacy == :public do %>
      <div :if={Enum.empty?(@scores)}>
        <p><%= @user.username %> hasn't voted yet.</p>
      </div>
       <.performers_scores scores={@scores} />
    <% else %>
      <p><%= @user.username %> does not want to disclose his/her votes.</p>
    <% end %>
  </section>
</div>
