<.header class="mb-4">
  {dgettext("editions", "Manage editions")}
  <:actions>
    <.button
      id="new-edition"
      type="button"
      aria-label={dgettext("editions", "Create a new edition")}
      phx-click="new_edition"
      class="py-0"
    >
      +
    </.button>
  </:actions>
</.header>

<p :if={Enum.empty?(@editions)} class="text-center">
  {dgettext("editions", "There are no editions yet.")}
</p>
<.edition_editor :for={edition <- @editions} edition={edition} />
