<section>
  <.header>Juries</.header>
  
  <.link
    class="block mt-3 text-center w-full bg-zinc-600 text-white rounded-lg p-3"
    navigate={~p"/juries/personal"}
  >
    My Juries
  </.link>
</section>
