<section>
  <.header>My Juries</.header>
  
  <.link
    navigate={~p"/juries/new"}
    class="block mt-3 text-center w-full bg-zinc-600 text-white rounded-lg p-3"
  >
    <.icon name="hero-plus" class="h-4 w-4" /> <span>Create New Jury</span>
  </.link>
  
  <.back navigate={~p"/juries"}>Juries</.back>
</section>
